@import "../../util/variables.scss";
@import "../../util/mixins.scss";
nav {
  background-color: $white;
  font-family: $main-font;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100px;
  position: relative;
  z-index: 999;
}
.nav__logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  padding-left: 3rem;
  text-decoration: none;
  color: black;

  img {
    padding: 0.5rem 0;
  }
  span {
    padding-top: 0.5em;

    p {
      padding: 0;
      margin: 0;
      text-align: start;
      font-weight: 700;
      line-height: 1.5;

      &:nth-child(2) {
        padding-left: 3px;
      }
      &:nth-child(3) {
        padding-left: 10px;
      }
    }
  }
}
.nav__links {
  font-weight: 700;
  flex-basis: 30%;
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;

    li {
      position: relative;

      &:hover {
        cursor: pointer;
        @include underline-after-transform;
      }
      @include underline-after;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.nav__account {
  padding-right: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  span {
    display: flex;
    align-items: center;
    height: 80%;

    button {
      background-color: transparent;
      border: none;
      font-family: $main-font;
      font-weight: 700;
      font-size: 0.8rem;
      position: relative;
      padding-top: 0.8rem;

      &:hover {
        cursor: pointer;
        @include underline-after-transform;
      }
      @include underline-after;
    }
  }
  img {
    width: 20%;
    &:hover {
      cursor: pointer;
      background-color: rgb(226, 226, 226);
      border-radius: 50%;
    }
  }
}
